[Unit]
Description=xCAT init script
After=network-online.target
Wants=network-online.target
Before=xcatd.service

[Service]
Type=simple
User=root
ExecStart=/xcat-init.bash
StandardOutput=file:/var/log/xcat/xcat-init-output.log

[Install]
WantedBy=multi-user.target
